<!DOCTYPE html>
<html>
    <head>
       
    </head>
    <body>
   <h1> Demande de {{ contact.fullName}}</h1>
<p>sujet : {{contact.subject}}</p>
<p>Email : {{contact.email}}</p>
<p>message : {{contact.message}}</p>

<div>
{{contact.message|raw}}</div
</div>

    </body>
</html>
